@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Roboto";
    font-style: normal;
    /* font-weight: 400; */
    font-display: swap;
    src: url(/fonts/Roboto.woff2) format("woff2");
  }
}

@media (max-width: 60rem) {
  p {
    font-size: 0.7rem;
  }
}
